<h1>Tus contactos:</h1>

<div *ngIf="cargando">
    <mat-spinner></mat-spinner>
    <h6>Cargando...</h6>
</div>
<!-- listar los contactos-->

<div *ngFor="let contacto of listaRandomContacts; let i=index">
    <div routerLink="{{ contacto.id.name }}" [state]="{data:contacto, filtro: filtroSexo}">
        <h6 class="contacto">{{ contacto.name.first }} {{ contacto.name.last }}</h6>
        <button mat-raised-button color="primary" (click)="volverAhome(contacto)">Seleccionar como amigo invisible</button>
    </div>
</div>

<ng-container *ngIf="filtroSexo=='female' || filtroSexo=='male';else completo">
   <p>Mostrando lista filtrada por: "{{ filtroSexo }}"</p>
</ng-container>

<ng-template #completo>
    <p>Mostrando la lista completa </p>
</ng-template>

<a routerLink="/dashboard">Volver</a>

