<h4>Random Contact</h4> 

<ng-container  *ngIf="randomContact;else templateName">
        <mat-card class="random-contact-card">
          <div mat-card-avatar class="random-contact-avatar">
            <img [src]="randomContact.picture.thumbnail">
          </div>
            <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->  
              <mat-card-title>
                {{randomContact.name.title}}
                {{ randomContact.name.first }}
                {{ randomContact.name.last }} 
              </mat-card-title>
              <mat-card-subtitle>
                {{ randomContact.name.last }} 
              </mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <p>
                {{randomContact.location.country}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Elegir como amigo invisible</button>
              <button mat-button>Volver</button>
            </mat-card-actions>
          </mat-card> 
</ng-container>

<ng-template #templateName>
    <mat-spinner></mat-spinner>
</ng-template>




